

.StarBattle-Cell {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    text-align: center;
    line-height: 0;
    padding: 0;
    font-size: 30px;
}

.StarBattle-Cell-Border-Left {
    border-left: 3px solid black;
}

.StarBattle-Cell-Border-Top {
    border-top: 3px solid black;
}

.StarBattle-Cell-Border-Right {
    border-right: 3px solid black;
}

.StarBattle-Cell-Border-Bottom {
    border-bottom: 3px solid black;
}

.StarBattle-Cell-Indicated-X {
    background-color: darkgray;
}

.StarBattle-Cell-Indicated-Star {
    background-color: gold;
}

.StarBattle-Cell-Indicated-Secondary {
    background-color: lightblue;
}

.StarBattle-Cell-Indicated-Error {
    background-color: lightcoral;
}

.StarBattle-Cell-Partition-1 {
    background-color: lightcoral;
}

.StarBattle-Cell-Partition-2 {
    background-color: lightblue;
}

.StarBattle-Cell-Partition-3 {
    background-color: lightgreen;
}

.StarBattle-Grid {
    display: grid;
    width: fit-content;
    border: 8px solid black;
    margin: 0 auto;
}

.StarBattle-Puzzle>*{
    margin: 0 auto;
}

.StarBattle-Puzzle {
    justify-content: center;
    max-width: 80%;
}

.StarBattle-Message {
    width: fit-content;
    max-width: 100%;
}

#StarBattle-SliderBox {
    max-width: 500px;
}